.global-container {
  .header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px gray solid;
    padding-inline: 4vw;
    .score {
      font-size: 20px;
    }
    img{
      cursor: pointer;
    }
  }

  .user-player,
  .computer-player {
    width: 100vw;
    height: 42vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .is-played-user {
      margin-top: -100px;
    }
    .is-played-computer {
      margin-bottom: -100px;
    }
  }

  .user-player {
    img {
      cursor: pointer;
    }
  }

  .game-result-container {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .last-result-global-container {
    position: absolute;
    left: 20px;
    top: 8vh;
    overflow: hidden;
    #result-container-scroll {
      -ms-overflow-style: none;
      scrollbar-width: none;
      height: 200px;
      width: 85px;
      overflow: scroll;
      text-align: center;
      box-shadow: inset gray 0px 0px 10px -4px;
      padding-inline: 30px;
      border-radius: 10px;
      p {
        opacity: 0.5;
      }
      p:last-child {
        font-weight: 800;
      }
      p:nth-last-child(-n + 4) {
        opacity: 1;
      }
    }

    #result-container-scroll::-webkit-scrollbar {
      display: none;
    }
  }
}
